body{
    margin:0;
    overflow:hidden;
}

.top_container{
    width:100%;
    height: 10%;
    background-color:black;
    position:fixed;
}

.main_container{
    top:10%;
    width:100%;
    height:90%;
    overflow:hidden;
    position:absolute;
    display:flex;
}

.left_container{
    height:100%;
    width: 15%;
    background-color:#dedede;
    display:block;
}

.mid_container{
    height:100%;
    width: 50%;
    overflow-y:auto;
    
}

.edge_container{
    width:100%;
    height:600px;
}


.right_container{
    height:100%;
    width: 35%;
    display:block;
    background-color:#dedede;
    overflow:hidden;
}

.right_container > p{
    text-align: center;
}

.right_container > table{
    margin-left: 15%;
}

.subject_information_display{
    margin-top:10%;
}

.subject_medical_display{
    margin-top: 10%;
}

.data_request_functionality,
.data_request_functionality tr,
.data_request_functionality td{
    border:none;
    width:100%;
    padding:0;
    margin-top:20%;
    width:100%;
    text-align: center;
    border-collapse: collapse;
}

.data_request_functionality tr{
    border-bottom: 2px solid black;
}

.data_request_functionality td button{
    background-color:red;
    text-decoration: none;
    border:none;
    padding: 12px 0px 12px 0px;
    width:100%;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

.data_request_functionality td button:hover{
    background-color:violet;
    color:yellow;
}
