body{
    margin:0;
    overflow:hidden;
}

.top_container{
    width:100%;
    height: 10%;
    background-color:black;
    position:fixed;
}

.main_container{
    top:10%;
    width:100%;
    height:90%;
    overflow:hidden;
    position:absolute;
    display:flex;
}

.left_container{
    height:100%;
    width: 15%;
    background-color:#dedede;
    display:block;
}

.mid_container{
    height:100%;
    width: 70%;
    overflow-y:scroll;
    display:flex;
}


.right_container{
    height:100%;
    width: 30%;
    display:block;
    background-color:#dedede;
    overflow:auto;
}