body{
    margin:0;
    overflow:hidden;
}

.right_menu_container{
    width:15%;
    height:100%;
    position:absolute;
    background-color:black;
}

.right_menu_items{
    /*background-color:yellow;*/
    width:100%;
    position:absolute;
    top: 15%;
    height:50%;
    
}


.menu_item{
    /*background-color:turquoise;*/
    height: 15%;
    cursor:pointer;
    transition-duration: 0.5s;
    border-left:2px solid tomato; 

}

.menu_item:hover{
    background-color: rgb(56, 56, 56);
    margin-left:15px;
    margin-right: 0px;
    border-left:2px solid tomato;
}

.menu_item i{
    font-size: 20px;
    margin-left: 20px;
    margin-top:10px;
    color: tomato;
}

.menu_item span{
    color:white;
    margin-left: 15px;
    font-size: 15px;
}

.menu_item span:hover{
    text-decoration: none;
    color:white;
}


.dashboard_view_container{
    position:absolute;
    width:85%;
    height:100%;
    /*background-color:yellowgreen;*/
    left:15%;
}

.dashboard_view{
    height:100%;
    width:100%;
}

.team_right_menu{
    height:100%;
    background-color:black;
    width:20%;
    position:absolute;
}

.team_menu_container{
    background-color:rgb(36, 36, 36);
    width:100%;;
    position:relative;
    height:85%;
    top:10%;
    bottom:5%;
    overflow:auto;
    border-top: 2px solid tomato;
    border-bottom: 2px solid tomato;
}

.team_menu_container::-webkit-scrollbar{
    width:7px;
    background-color:rgb(36, 36, 36);
}




.team_menu_container::-webkit-scrollbar-thumb {
    background-color: tomato;
    
  }

.team_menu_item{
    height:50px;
    width:91%;
    margin-top:2px;
    border-left: 2px solid rgb(36, 36, 36);
    cursor:pointer;
    transition-duration: 0.5s;
    display:flex;
    align-items: center;
    
}

.team_menu_item:hover{
    background-color: rgb(56, 56, 56);
    margin-left:15px;
    border-left:2px solid tomato;
}

.team_menu_item span{
    color:white;
    font-size:15px;
    margin-left:10px;
}

.team_menu_item i{
    color:tomato;
    font-size: 15px;
    margin-left:10px;
}

.team_menu_item_content{
    width:80%;
    margin-bottom: 10px;
    padding-top:5px;
    padding-bottom:10px;
    margin-left:10%;
    overflow:hidden;
    height:auto;
    border-top:2px solid tomato;
    
}

.team_menu_item_content > div{
    width:100%;
    position:relative;
    height:50px;
    cursor:pointer;
    transition-duration: 0.5;
    display:flex;
    align-items: center;
}

.team_menu_item_content > div:hover{
    background-color:tomato;
}

.team_menu_item_content > div > p{
    color:white;
    font-size:14px;
    margin-left:5px;
}